@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: gainsboro;
}

  p {
    font-family: Quicksand;
  }

  img {
    justify-content: center;
    align-items: center;
    width: 600px;
    height:600px;
  }